# Python
__pycache__/
*.py[cod]
*.pkl
*.h5
*.joblib

# Virtual environment
venv/
.env/

# System files
.DS_Store
Thumbs.db

# Dataset and uploads
uploads/
extracted_images/
face_recognition_model.h5
scaler.pkl
pca.pkl
label_dict.pkl
